.github-repo-card {
	background-color: rgba(255,255,255,0.7);
	margin: 30px;
	transition: 0.3s;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: relative;
	cursor: pointer;
	font-size: 17px;
}

.github-repo-card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	background-color: white;
}

.github-repo-card .github-repo-header {
	background-color: white;
	padding: 10px;
	font-weight: bold;
	color: #2e1c80;
	display: flex;
	justify-content: space-between;
}

.github-repo-card .repo-labels {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px;
}

.github-repo-card .repo-description {
	padding: 10px;
}

.repo-labels > div {
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px 8px;
	margin-left: 10px;
	background-color: rgba(0,0,0,0.5);
}
.repo-labels > .fork-label {
	background-color: #6c82ff;
}
